body, html {
    height: 100%;
}

.jumbotron{
     /* get rid of the white space at the bottom of the jumbotron */
     margin-bottom: 0;
}

/* set the navbar to stay on top of the screen as you scroll */
.affix {
   top:0;
   width: 100%;
   z-index: 9999 !important;
}
.navbar {
   margin-bottom: 0px;
}
.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}
.active {
    background-color: #4CAF50;
}

/*Parallax image*/
.parallax-1{
     /* The image used */
    background-image: url("Images/sunnyBackground.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* add the text box */
    color: black;
    padding-top:10%;
    height:110%;
    border-bottom: 10px solid black;
}
.parallax-2 {
    /* The image used */
    background-image: url("Images/afternoonBackground.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* add the text box */
    color: black;
    padding-top:10%;
    height:110%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
.parallax-3{
     /* The image used */
    background-image: url("Images/nightBackground.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

    /* add the text box */
    color: white;
    padding-top:10%;
    height:110%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
.disclaimerBlock{
     /* add the text box */
     color: white;
     padding-top:50px;
     height:200px;
     background-color: #4d4d4d;
     border-top: 10px solid white;
}


/* style text */
.h1HeaderWhite{
     text-align: center;
     font-size: 350%;
     font-weight: bold;
     background-color: rgba(255, 255, 255, .6);
}
.textWhite{
     padding-top: 50px;
     text-align: center;
     font-weight: bold;
     font-size: 150%;
     background-color: white;
     background-color: rgba(255, 255, 255, .6);
}
.h1HeaderBlack{
     text-align: center;
     font-size: 350%;
     font-weight: bold;
     background-color: rgba(0, 0, 0, .6);
}
.textBlack{
     padding-top: 50px;
     text-align: center;
     font-weight: bold;
     font-size: 150%;
     background-color: white;
     background-color: rgba(0, 0, 0, .6);
}
