body{
     font-size: 70%
}

/* Grid System */
.col-lg-4{
     background-color: #343a40;
     color: white;
     margin: 0;
     padding: 0;
     max-width: 300px

}
.col-lg-8{
     background-color: white;
     color: #343a40;
     margin: 0;
     padding: 0;
     max-width: 510px
}

h2{
     font-size: 3rem;
     letter-spacing: .1em;
     font-weight: 400;
     margin: 0;
     font-weight: bold;
}
h4{
     font-size: 1rem;
     letter-spacing: .1em;
     background-color: white;
     color: #343a40;
     padding-left: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin: 0;
     border-radius: 10px;
}
h6{
     margin: 0;
     margin-top: 5px;
}
p{
     margin: 0;
}
ul{
     margin-bottom: 5px;
}
/* First Column */
.title{
     padding-left: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
}
.containingSections{
     padding-left: 50px;
     padding-bottom: 10px;
     padding-top: 10px;
}


hr{
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(52, 58, 64, 0), rgba(52, 58, 64, 0.75), rgba(52, 58, 64, 0));
     margin: 0;
}

/* Padding Section */
.col1BottomPadding{
     padding-bottom: 322px;
}
.col2TopPadding{
     padding-top: 150px;
}
.tab{
     padding-left: 10px;
}
