/* body, html {
    height: 100%;
} */

.jumbotron{
     /* get rid of the white space at the bottom of the jumbotron */
     margin-bottom: 0;
     letter-spacing: 5px;
     padding-bottom: 25px;
}
.display-4{
     font-family: 'Shrikhand', cursive;
}
/* the hr inside the jumbotron */
hr.style{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* the paragraph inside the jumbotron */
.lead{
     padding-left: 0;
     text-align: left;
     margin-bottom: 0;
}
#name{
     float: right;
     background-color: #343a40;
     color: #e9ecef;
     border-radius: 10px;
     padding: 2px 10px;
     opacity: .5;
     transition: all .2s;
     -webkit-transition: all .2s;
     -moz-transition: all .2s;
}

/* navbar color transitions smoothly */
.navbar{
     background-color: #e9ecef;
     border-bottom: 5px solid #343a40;
     transition: all .5s;
     -webkit-transition: all .5s;
     -moz-transition: all .5s;
}
/* fix navbar to top on scroll */
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #343a40 !important;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

/* style text */
/* About Section */
.columnAbout{
     /* text-align: center; */
     background-color: rgba(255, 255, 255, .6);
     /* height: 200px; */
     margin: 5px;
     border-radius: 25px;
     padding-top: 10px;
     border: 1px solid black;
}
.columnAboutBottom{
     background-color: rgba(255, 255, 255, .6);
     /* height: 150px; */
     /* margin: 5px; */
     border-radius: 25px;
     padding-top: 10px;
     border: 1px solid black;
}

/* Experience Section */
.columnExperience{
     background-color: rgba(255, 255, 255, .6);
     margin: 5px;
     border-radius: 25px;
     padding: 25px;
     border: 1px solid black;
     margin: 5px 10%;
}
.projectName{
     font-weight: bold;
     text-align: center;
     text-decoration: underline;
     font-size: 1.2em;
}
.tab{
     margin-left: 10%;
}

/* Project Section */
.columnProjects{
     padding-top: 10px;
}
#rowProjects{
     background-color: rgba(255, 255, 255, .6);
     height: 600px;
     border-radius: 25px;
     border: 1px solid black;
     /* margin-top: 50px; */
     padding-top: 50px;
     /* padding-bottom: 50px; */
}
.projectLinks{
     padding: 10px;
     border: 2px solid black;
     color: black;
     list-style-type: none;
     margin: 5px 25px;
     text-align: center;
     float: left;
}
h6{
     margin-bottom: 25px;
}
li{
     list-style-type: none;
}
img{
     width: 100%;
     border-radius: 5px;
     border: 1px solid black;
}
#imgCaptions{
     background-color: rgba(0, 0, 0, .5);
     border-radius: 20px;
     margin-left: 100px;
     margin-right: 100px;
}

/* Contact Section */
.outerColumn{
     text-align: center;
     background-color: rgba(0, 0, 0, .5);
     border-radius: 10px;
     margin: 0 20%;
     padding-top: 25px;
     padding-bottom: 25px;
}
a{
     color: inherit;
}
a:hover{
     color: inherit;
}


p{
     text-align: center;
     /* padding: 5px; */
}
h2{
     font-family: 'Shrikhand', cursive;
     text-align: center;
     font-size: 350%;
     text-shadow: grey 1px 0 10px;
     text-decoration: underline;
     letter-spacing: 2px;
     margin-bottom: 50px;
}



/*Parallax image*/
.parallax-1{
     /* The image used */
    /* background-image: url("images/sunnyBackground.png"); */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* add the text box */
    color: black;
    padding-top:10%;
    height:1000px;
    /* border-bottom: 10px solid black; */
}
.parallax-2{
     /* The image used */
    /* background-image: url("images/sunnyBackground.png"); */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* add the text box */
    color: black;
    padding-top:10%;
    height:1000px;
    /* border-bottom: 10px solid black; */
}
.parallax-3 {
    /* The image used */
    /* background-image: url("images/afternoonBackground.png"); */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* add the text box */
    /* color: white; */
    padding-top:10%;
    height:1000px;
    /* border-top: 10px solid black; */
    /* border-bottom: 10px solid black; */
}
.parallax-4{
     /* The image used */
    /* background-image: url("images/nightBackground.jpg"); */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 20px; */

    /* add the text box */
    color: white;
    padding-top:10%;
    height:800px;
    /* border-top: 10px solid black; */
    /* border-bottom: 10px solid black; */
}
.disclaimerBlock{
     /* add the text box */
     color: white;
     padding-top:50px;
     height:250px;
     background-color: #343a40;
     /* border-top: 10px solid white; */
     box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.5);
     -webkit-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.5);
}
#divider{
     background-color: #343a40;
     margin: 0;
}
